html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

body h1, body h2, body h3, body h4, body h5, body h6, body p, body a, body ul, body ol, body li, body figure, body img {
  margin: 0;
}

.nav {
  background: #a1c0ba;
}

.nav__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__logo {
  width: 100px;
  display: inline-block;
}

.nav__logo img {
  width: 100%;
  height: 100%;
}

.nav__menu-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  max-width: 400px;
  padding-left: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style-type: none;
}

.nav__menu-item {
  list-style-type: none;
}

.nav__menu-item-has-children {
  position: relative;
}

.nav__menu-item-has-children:hover .sub-menu {
  height: auto;
}

.nav__menu-item a, .nav__menu-item-has-children a {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: lowercase;
  padding: 10px;
}

.nav__menu-item a:hover, .nav__menu-item-has-children a:hover {
  color: #6f8e88;
}

.nav .sub-menu {
  height: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  position: absolute;
  width: 200px;
  top: 25px;
  left: -20px;
  padding-left: 0;
  padding-top: 10px;
  background: #a1c0ba;
}

.nav .sub-menu .nav__menu-item {
  padding: 10px 20px;
}

.footer {
  background: #a1c0ba;
}

.footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 60px;
  padding-top: 50px;
}

.footer__logo {
  height: 150px;
  width: auto;
}

.footer__logo img {
  width: 100%;
  height: 100%;
}

.footer__columns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__column {
  padding-left: 0;
}

.footer__item {
  list-style-type: none;
}

.footer__item a {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .5s;
  transition: .5s;
  text-transform: lowercase;
}

.footer__item a:hover {
  color: #6f8e88;
}

.footer__bottom {
  text-align: center;
}

.footer__terms {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  color: #fff;
}

.footer__terms a {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #cf8562;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.footer__terms a:hover {
  color: #eac6b8;
}

.footer .socials {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (min-width: 1920px) {
  .accordion {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1240px) and (max-width: 1920px) {
  .accordion {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 599px) and (max-width: 1240px) {
  .accordion {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 599px) {
  .accordion {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.accordion__box {
  position: relative;
  margin: 10px 0;
  background: #a1c0ba;
}

.accordion__label {
  background: #a1c0ba;
  padding: 10px;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
  position: relative;
  margin: 0;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  color: #000;
}

.accordion__label:hover {
  background: #6f8e88;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.accordion__label:hover::before, .accordion__label:hover::after {
  background: #fff;
}

.accordion__label::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  font-size: 1.5em;
  width: 10px;
  height: 2px;
  background: #000;
}

.accordion__label::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 24px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  font-size: 1.5em;
  width: 2px;
  height: 10px;
  background: #000;
}

.accordion__box--active .accordion__label {
  background: #6f8e88;
  color: #fff;
}

.accordion__box--active .accordion__label::before {
  content: '';
  width: 10px;
  height: 2px;
  background: #fff;
}

.accordion__box--active .accordion__label::after {
  display: none;
}

.accordion__content {
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding: 0 10px;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}

.accordion__box--active .accordion__content {
  height: 150px;
  padding: 10px;
}

.button-container {
  background-color: #f2ded7;
  padding: 40px;
  margin-bottom: 40px;
}

.button {
  margin: 0 auto;
  border: 2px solid #cf8562;
  padding: 10px 20px;
  cursor: pointer;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  color: #000;
  outline: none;
  display: block;
  position: relative;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: transparent;
}

.button::before {
  content: "";
  position: absolute;
  border-top: 2px solid #cf8562;
  border-bottom: 2px solid #cf8562;
  top: -2px;
  left: -20px;
  right: 0;
  bottom: -2px;
  width: 100%;
  padding: 2px 20px;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.button::after {
  content: "";
  position: absolute;
  border-left: 2px solid #cf8562;
  border-right: 2px solid #cf8562;
  top: -20px;
  left: -2px;
  right: 0;
  bottom: -20px;
  width: 100%;
  padding: 20px 0;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.button:hover {
  background-color: #eac6b8;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.button:hover .button__horizontal {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button:hover::before {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button:hover .button__vertical {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.button:hover::after {
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.button__horizontal {
  border-left: 2px solid #cf8562;
  border-right: 2px solid #cf8562;
  height: 100%;
  width: 100%;
  padding: 2px 20px;
  position: absolute;
  top: -2px;
  left: -22px;
  right: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

.button__vertical {
  border-top: 2px solid #cf8562;
  border-bottom: 2px solid #cf8562;
  height: 100%;
  width: 100%;
  padding: 20px 2px;
  position: absolute;
  top: -22px;
  left: -2px;
  right: 0;
  bottom: 0;
  opacity: 1;
  -webkit-transition: -webkit-transform 0.8s ease;
  transition: -webkit-transform 0.8s ease;
  transition: transform 0.8s ease;
  transition: transform 0.8s ease, -webkit-transform 0.8s ease;
}

@media (min-width: 1920px) {
  .carousel {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1240px) and (max-width: 1920px) {
  .carousel {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 599px) and (max-width: 1240px) {
  .carousel {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 599px) {
  .carousel {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.carousel__slides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-bottom: 50px;
  overflow: hidden;
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}

.carousel__item {
  max-width: 150px;
  min-width: 100px;
  width: 30%;
  padding: 100px;
  background: #eac6b8;
  text-align: center;
  margin-right: 20px;
  -webkit-transition: .2s;
  transition: .2s;
}

.carousel__item--selected {
  background: #cf8562;
}

.carousel__nav {
  text-align: center;
}

.carousel__button {
  background: #eac6b8;
  border-radius: 50px;
  height: 30px;
  width: 30px;
  display: inline-block;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.carousel__button:not(:last-of-type) {
  margin-right: 10px;
}

.carousel__button:hover {
  background: #cf8562;
}

.carousel__button--selected {
  background: #cf8562;
}

@media (min-width: 1920px) {
  .test {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1240px) and (max-width: 1920px) {
  .test {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 599px) and (max-width: 1240px) {
  .test {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 599px) {
  .test {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.test__button {
  border: 1px solid #6f8e88;
  background: #6f8e88;
  line-height: 40px;
  font-size: 12px;
  font-family: arial;
  font-weight: 700;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 30px;
  min-width: 230px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

.test__button:hover {
  border: 1px solid #a1c0ba;
  background: #a1c0ba;
}

.test__title {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 120px;
  line-height: 125px;
  font-weight: 700;
  color: #cf8562;
}

.test__text {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}

.test__link {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: #cf8562;
  text-decoration: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.test__link:hover {
  color: #eac6b8;
}

.text-image {
  margin-bottom: 50px;
}

.text-image__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.text-image--reverse .text-image__container {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.text-image__image {
  width: 48%;
  height: 0;
  padding-top: 30%;
  position: relative;
}

.text-image__image img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.text-image__text-box {
  width: 48%;
}

.text-image__title {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 60px;
  line-height: 65px;
  font-weight: 700;
  color: black;
  margin-bottom: 20px;
}

.text-image__text {
  font-family: "Quattrocento Sans", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: black;
  margin-bottom: 30px;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials__item {
  height: 20px;
  width: 20px;
  list-style-type: none;
}

.socials__item:not(:last-of-type) {
  margin-right: 10px;
}

.socials__item a {
  display: inline-block;
}

.socials__item img {
  height: 20px;
  width: 20px;
}

.socials__item svg {
  height: 20px;
  width: 20px;
  fill: #fff;
  -webkit-transition: .5s;
  transition: .5s;
}

.socials__item svg:hover {
  fill: #6f8e88;
}

@media (min-width: 1920px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 1240px) and (max-width: 1920px) {
  .container {
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}

@media (min-width: 599px) and (max-width: 1240px) {
  .container {
    margin: 0 auto;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

@media (max-width: 599px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
/*# sourceMappingURL=style.css.map */